@using ControledeContatos.Enums;
@model AlterarSenhaModel

@{
    ViewData["Title"] = "Alterar Senha do Usuario";
}

<div class="text-center">

    <h1 class="display-4"> Alterar Senha do Usuario </h1>

</div>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form asp-controller="AlterarSenha" asp-action="Alterar" method="post">


    <div class="form-group">
        <label for="senhaAtual" class="form-label">Senha Atual</label>
        <input type="password" asp-for="SenhaAtual" class="form-control" placeholder="Digite a senha atual do Usuario">
        @Html.ValidationMessageFor(x => x.SenhaAtual)
    </div>  

    <div class="form-group">
        <label for="senhaAtual" class="form-label">Nova Senha</label>
        <input type="password" asp-for="NovaSenha" class="form-control" placeholder="Digite a nova senha do Usuario">
        @Html.ValidationMessageFor(x => x.NovaSenha)
    </div>

    <div class="form-group">
        <label for="confirmarSenha" class="form-label">Confirmar Nova Senha</label>
        <input type="password" asp-for="ConfirmarNovaSenha" class="form-control" placeholder="Digite a confirmação da nova senha  do Usuario">
        @Html.ValidationMessageFor(x => x.ConfirmarNovaSenha)
    </div>


    <div class="d-grid gap-2">
        <!--Div nova para fazer a formatação correta-->
        <button type="submit" class="btn btn-primary btn-block">Alterar</button>
        <a class="btn btn-secondary btn-block" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
        
    </div>
</form>
